annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.1
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
climage==0.2.2
Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
fastapi==0.129.0
git-filter-repo==2.47.0
h11==0.16.0
idna==3.11
kdtree==0.16
numpy==2.4.2
pandas==3.0.0
pillow==12.1.1
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.13.0
pyobjc-core==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-Quartz==12.1
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.2
uvicorn==0.40.0
